<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @team.team %>
</p>

<%= link_to "<i class='fas fa-edit'></i> Edit".html_safe, edit_team_path(@team), class: "btn btn-warning" %> |
<%= link_to "<i class='fas fa-chevron-circle-left'></i> Back".html_safe, teams_path, class: "btn btn-secondary" %>
